@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100%;

    z-index: -1;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 50px;
    overflow: hidden;
}

h1 {
    font-family: 'Lora', serif;
    font-size: 36px;
    font-weight: 600;
}

p {
    font-size: 20px;
    font-weight: 400;
}

button {
    border: none;
    outline: none;

    width: 238px;
    height: 64px;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 5px;
    padding: 15px 40px;
    border-radius: 117px;
    background: #499AFA;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}

.nav__btn {
    width: 177px;
    height: 57px;
}

section {
    width: 100%;
    position: relative;
    height: auto;
}

.container {
    padding: 1.5% 10%;
}


/* ===== HEADER ===== */
header {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: rgba(239, 246, 254, 1);
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 20px; */
}

.navbar img {
    max-width: 100%;
    width: 20%;
    display: block;
}

.navbar__menu {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.navbar__lists {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar__lists a {
    font-size: 20px;
    font-weight: 500;
    color: #3A3A3A;
}

.hamburger {
    display: none;
}

.hamburger i {
    font-size: 24px;
}

/* HEADER CONTAINER */
.header__container {
    margin-top: 30px;
    display: flex;
    gap: 50px;
}

.header__left {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    position: relative;
}

.header__left-grad {
    position: absolute;

    width: 114px;
    height: 362px;

    left: -7.5%;
    top: -5%;

    background: linear-gradient(180deg, rgba(73, 154, 250, 0.114) 0%, rgba(243, 245, 248, 0.066) 100%);
    border-radius: 108px 108px 0px 0px;
}

.header__left h1 {
    width: 100%;

    /* font-size: 2.75em; */
}

.header__left span {
    font-size: 24px;
    font-weight: 500;
    color: #838383;
}

.header__left-contact {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header__right {
    position: relative;
    width: 40%;
    height: 40%;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
}



.header__right-grad {
    position: absolute;
    width: 141px;
    height: 141px;
    background: #DDECFD;
    border-radius: 50%;
    right: 5%;
    top: 13%;
    z-index: 1;
}

/* ===== MAIN ===== */
main {
    margin-top: 30px;
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

/* ABOUT */
.about__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.about-left {
    display: flex;
    gap: 20px;
}

.about-left div:nth-child(1) {
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-left div:nth-child(2) {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-left div:nth-child(1) img,
.about-left div:nth-child(2) img {
    width: 280px;
}

.about-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.about-right span {
    font-size: 24px;
    font-weight: 500;
    color: #2E279D;
}

/* specialization */

.specialization__grad {
    width: 100%;
    height: 472px;
    position: absolute;
    z-index: -1;
}

.specialization__container h1 {
    text-align: center;
}

.specialization__content {
    margin-top: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.orthopedics,
.pediatric {
    display: flex;
    flex-direction: column;
}

.orthopedics img,
.pediatric img {
    width: 400px;
    height: 400px;
}

.orthopedics p,
.pediatric p {
    text-align: center;
    background: #EFF6FE;
    padding: 20px 10px;
    border-radius: 0 0 16px 16px;
}

/* AOI */

.aoi__container h1 {
    text-align: center;
}

.aoi__content {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.aoi__card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aoi__card img {
    width: 100%;
}

.aoi__card-grad {
    position: absolute;
    background: linear-gradient(180deg, rgba(239, 246, 254, 0) 52.05%, rgba(239, 246, 254, 0.97) 93.25%);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    padding: 0 10px;
}

.aoi__card-grad p {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0;
    padding-bottom: 5px;
}

/* EXPERIENCE */
.research {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.experience {
    display: flex;
    gap: 80px;
}

.experience img {
    align-self: center;
    width: 400px;
    height: 500px;
}

.exp__details {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.exp__details ul {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.exp__details ul li {
    list-style: disc;
}

/* AWARDS */
.awards {
    display: flex;
    gap: 80px;
}

.awards img {
    width: 500px;
    height: 330px;
}

.awards__details {
    width: 50%;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.awards__details ul {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.awards__details ul li {
    list-style: disc;

}

/* CLINICS */
.clinics {
    background: #EFF6FE;
}

.clinics h1 {
    text-align: center;
}

.clinics__container {
    margin-top: 40px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;

    align-items: center;
    gap: 40px;
}

.clinics__content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: #fff;
    padding: 10px;

    width: 378px;
    height: 331px;
    border-radius: 6px;
}


.clinics__content p {
    text-align: center;
}

/* ===== MEDIA QUERIES (850px) ===== */
@media screen and (max-width: 850px) {
    h1 {
        font-size: 25px;
    }

    p {
        font-size: 12px;
    }

    .nav__btn {
        width: 150px;
        height: 44.87px;

        font-size: 16px;
    }

    button {
        width: 180px;
        height: 45px;

        font-size: 12px;
    }

    .container {
        padding: 1% 2%;
    }

    /* NAVBAR */
    .navbar__lists a {
        font-size: 16px;
        font-weight: 500;
    }

    .header__left span {
        font-size: 16px;
    }

    .header__right-grad {
        top: 6%;
        right: 0;
    }

    /* ABOUT */
    .about-left div:nth-child(1) img,
    .about-left div:nth-child(2) img {
        width: 150px;
    }

    .about-right span {
        font-size: 16px;
    }

    /* specialization */
    .orthopedics img,
    .pediatric img {
        width: 300px;
        height: 300px;
    }

    /* Research */
    .experience img {
        width: 300px;
        height: 380px;
    }

    .exp__details ul li {
        font-size: 13px;
    }

    .awards img {
        width: 300px;
        height: 180px;
        align-self: center;
    }

    .awards__details ul li {
        font-size: 13px;
    }

    /* clinics */
    .clinics__container{
        grid-template-columns: repeat(2, 1fr);
    }

    .clinics__content{
        width: 350px;
    }
}


/* ===== MEDIA QUERIES (430px) ===== */
@media screen and (max-width: 430px) {
    .container {
        padding: 1% 4%;
    }

    button {
        width: 150px;
        padding: 5px 10px;
        font-size: 12px;
    }

    h1,
    p,
    a,
    span {
        text-align: center;
    }

    h1 {
        font-size: 2em;
    }

    p {
        font-size: 1em;
    }

    /* NAVBAR */
    .navbar__lists {
        display: none;
    }

    .navbar img {
        width: 40%;
    }

    .hamburger {
        display: block;
    }

    /* HEADER CONTAINER */
    .header__container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 70px;
    }

    .header__left {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .header__left span {
        font-size: 1.1em;
    }

    .header__left-grad {
        display: none;
    }

    .header__right {
        width: 85%;
    }

    .header__right-grad {
        top: 480px;
        right: 2%;
        z-index: 1;
    }

    .header__left-contact {
        z-index: 9;
    }

    /* ===== MAIN ===== */

    /* ABOUT */
    .about__container {
        flex-direction: column;
    }

    .about-left div img {
        width: 90%;
    }

    .about-right p {
        text-align: start;
    }

    /* specialization */

    .specialization__content {
        flex-direction: column;
    }

    .orthopedics img,
    .pediatric img {
        width: 292.35px;
    }

    .orthopedics p {
        background: #fff;
    }

    /* AOI */

    .aoi__content {
        grid-template-columns: repeat(2, 1fr);
    }

    .aoi__card-grad p {
        font-size: 11px;
    }

    /* EXPERIENCE */

    .experience {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .experience img {
        width: 80%;
    }

    .exp__details h1 {
        text-align: start;
    }

    /* AWARDS */
    .awards {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .awards img {
        width: 80%;
    }

    .awards__details {
        width: 100%;
    }

    /* CLINICS */

    .clinics h1 {
        text-align: center;
    }

    .clinics__container {
        grid-template-columns: repeat(1, 1fr);
    }

    .clinics__content {
        width: 100%;
    }
}